<?xml version="1.0"?>
<DadosConfig>
  <Path_Arquivo_Dados>D:\Visual Studio 2017\TestConnectionWebService\TestConnectionWebServiceWeb\Models\Config\</Path_Arquivo_Dados>
  <Arquivo_Dados>DadosConexao</Arquivo_Dados>
  <Path_Arquivo_Registro>D:\Visual Studio 2017\TestConnectionWebService\TestConnectionWebServiceWeb\Models\Arquivo\</Path_Arquivo_Registro>
</DadosConfig>
